:root {
  /*--main-bg-color: #f5f5f5;*/
  --main-bg-color: white;
  --wrap-width : 90%;
}

/*page-wrap {min-height: calc(100dvh - 370px)};*/

.hide {
    display: none;
}
.center {
    text-align: center;
}
.red {
    color: red;
}
.green {
    color: green;
}

body {
    background-color: var(--main-bg-color);
}

.page-wrap {
    width: var(--wrap-width);
    box-sizing: border-box;
    margin: 0 auto;
    background-color: white;
}
.header {
    width: 100%;
    
    padding: 0 0;
}
.header1 {
    height: 30px;
    padding-left: 5%;
    box-sizing: border-box;
    /*background-color: #f5f5f5;*/
    
background-color: black;
color: yellow;
}
.lang-select, .currency-select {
    float: left;
    margin: 5px 20px;
/*    margin-top: 5px;
    margin-right: 20px;*/
}
/*вариант для header1*/
/*.phone {
    display: inline-block;
    float: left;
    margin-top: 2px;
    margin-left: 20px;
}*/
/*вариант для header2*/
.phone {
    display: inline-block;
    margin-left: 80px;
}
.nav-header {
    float: left;
    display: flex;
    list-style-type: none;
    margin-top: 2px;
}
.nav-header #readme {
    text-decoration: underline;
    font-weight: bold;
    color: red;
    cursor: pointer;
} 
.nav-header li {
    padding-left: 15px;
}
.nav-header li a {
color: yellow;
}
.login {
    display: inline-block;
    float: left;
    margin-top: 2px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}
.header2 {
    margin: 0 0 0 5%;
    padding: 15px 10px 0 10px;
    box-sizing: border-box;
}
.form-search {
    display: inline-block;
    position: relative;
    top: -12px;
    width: 400px;
    margin-left: 100px;
}
.input-search {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
}
.cart {
    display: inline-block;
/*    position: relative;
    top: -12px;*/
    width: 120px;
    height: 32px;
    margin-top: -22px;
    padding: 10px 10px;
    border: solid 2px gray;
    border-radius: 5px 5px;
    vertical-align: middle;
    box-sizing: border-box;
}
.cart-img {
    position: relative;
    top: -25px;
    left: -55px;
}
/*.cart span {
    
}*/

.header3 {
    color: grey;
    background-color: black;
}
.navbar {
    margin-left: 5%;
}
.navbar li a:hover {
    color: red;
} 

.header3 li {
    display: table-cell;
    padding: 10px 20px;
    vertical-align: middle;
    border-left: 2px solid rgba(255,255,255,.2);
}
.header3 li:last-of-type {
    border-right: 2px solid rgba(255,255,255,.2);
} 
.header3 li:hover {
    color: black;
    /*background-color: aqua;*/
} 
.header3 a {
    color: yellow;
    
}


.main {
    
}
.container {
    background-color: yellow;
}
.sidebar-left {
    float: left;
    width: 30%;
    min-height: 100px;
/*    padding-top: 15px;
    padding-left: 15px;*/
/*    background-color: aqua;
    background-color: #0c0c0c;*/
    border-radius: 10px;
    box-sizing: border-box;
}
.category-wrap {
    background-color: black;
    border-radius: 8px 8px;
}
.sbleft_category {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 15px 15px;
    font-size: 1.2rem;
    
}
/*.sbleft-li-selected {
    background-color: #f9e442;
    border-radius: 6px;
    padding-left: 10px;
}*/

.sbleft_category .selected {
    background-color: #f9e442;
    border-radius: 6px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.sbleft_category a,
.sbleft_subcategory {
    text-decoration: none;
    /*color: green;*/
    color: #3fea3f;
}

.sbleft-more {
    padding-left: 20px;
    font-size: 1.4rem;
}
.sbleft_subcategory_ul {
    list-style-type: none;
}

.filter-wrap {
    color: black;
}
.filter-wrap > div {
    margin-bottom: 15px;
    padding: 15px 15px;
    color: #3fea3f;
    background-color: black;
    border-radius: 8px;
    /*border-top: solid 1px gray;*/
}
.article-wrap {
    color: black;
    background-color: #f5f5f5;
}
.sb-article {
    min-height: 80px;
    margin-bottom: 15px;
    padding-left: 10px;
    /*background-color: #f5f5f5;*/
    background-color: #d1d3d9;
    border: solid 2px gray;
    border-radius: 8px;
}

.main {
    float: left;
    width: 66%;
}
.main-header {
    padding: 10px 1% 0 1%;
    
}
.goods-options {
    height: 25px;
    background-color: #f5f5f5;
    border-radius: 8px 8px;
    padding: 8px 0px;
}
.main-content { 
    min-height: 100px;
    padding: 15px 1% 0 1%;
}
.content-breadscrumb {
    /*background-color:white;*/
    border-radius: 5px 5px;
    padding-left: 10px;
}
.category-head {
    background-color:white;
    padding-left: 10px;
    border-radius: 8px 8px;
    margin: 12px 0;
}
.content-options {
    height: 28px;
    background-color:#f5f5f5;
    border-radius: 5px 5px;
}
.goods-view {
    float: left;
    margin-left: 2%;
}
.goods-limit {
    float: left;
    margin-left: 4%;
}
.goods-limit select,
.goods-order select, 
.goods-view select {
    margin-left: 2px;
}
.goods-order {
/*    position: relative;
    left: 300px;*/
    float: left;
    /*margin-top: -2px;*/
    margin-left: 4%;
}


.product {
    float: left;
    width: 32%;
    min-height: 300px;
    max-height: 300px;
    margin-top: 10px;
    margin-left: 1%;
    margin-bottom: 10px;
    border: solid 1px #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
}
.product .img {
    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.product .img img {
    width: 275px;
    height: 200px;
}
.product .product-price {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    
}
.product .bt-buy {
    display: inline-block;
    float: right;
    padding: 5px 5px;
    cursor: pointer;
}
.product .bt-buy:hover {
    cursor: pointer;
}
.product .bt-buy input {
    padding: 4px 5px;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: #f9e442;
    border-radius: 5px;
}
.product .product-name {
    display: block;
    width: 90%;
    margin: 26px auto auto 10px;
    text-align: center;
    font-weight: bold;
} 
.product .product-descr {
    overflow: hidden;
}
/*.product input[type='integer'] {
    width: 30px;
}*/




.footer {
    float: left;
    width: 90%;
    padding-left: 5%; 
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    /*border-top: 2px solid grey;*/
    margin: 0 auto;
    /*margin: 0px -5px 5px -5px;*/
    padding: 15px 15px 15px 5px;
    padding-left: 5%;
}
.subfooter {
/*    margin-left: 4%;*/
    padding-top: 15px;
}
.footer_top {
    
}  
.footer_bottom {

}




/*for modal window*/
.product-modal {
position: absolute;
  /*width: 220px;*/
  width: 275px;
  /*height: 200px;*/
  top: calc(50% + 150px);
  left: calc(40%);
  border-radius: 8px;
  box-shadow: 10px 8px 5px grey;
  /*background-color: rgb(205, 223, 243);
  background-color: #f5f5f5;*/
  background-color: #d1d3d9;
  cursor: default;
  padding: 10px 20px 0px 20px;   
}
.modal-close {
position: absolute;
  right: 3px;
  top: 2px;
  width: 10px;
  color: black;
  padding: 0px 5px 2px 4px;
  font-weight: bold;
  cursor: pointer;
  border: solid 1px gray;
  border-radius: 4px 4px;
  background-color: #f9e442;
  padding: 0px 4px;
}
.modal-content {
  padding: 0 0;  
}
.modal-content h4 {
  width: 110px;
  margin: auto auto;
}
.modal-content .img {
  display: inline-block;
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 6px;
}
.modal-content .img img {
  width: 275px;
  height: 200px;
  border-radius: 6px;
}
.modal-product-name {
  display: block;
  width: 90%;
  margin: 4px auto 4px auto;
  text-align: center;
  font-weight: bold;
}
.modal-product-description {
  background-color: #f5f5f5;
  display: inline-block;
  width: 97%;
  min-height: 20px;
  border-radius: 6px;
  padding: 5px;
  margin: 6px auto;
}
.modal-count {
  width: 30%;
  margin-left: 10px;
  border-radius: 4px 4px;
}
.modal-button {
    display: block;
    width: 85px;
    padding: 5px 5px;
    margin: 8px auto;
    background-color: #f9e442;
    border-radius: 5px;
    font-weight: bold;
}
/*end modal window*/


